<?xml version="1.0" encoding="utf-8"?>
<ProteoSuiteApplication xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="ProteoSuiteApplication.xsd" >
 <configSettings>
     <generalSettings>
         <workspace>D:\Data</workspace>
     </generalSettings>
     <xTrackerSettings>
         <pipeline>
             <pipelineTechnique>SILAC</pipelineTechnique>
             <pipelineLoadRawFiles>loadRawMzML111</pipelineLoadRawFiles>
             <pipelineLoadIdentFiles>loadMascotIdent111</pipelineLoadIdentFiles>
             <pipelinePeakSelection>metLabelingPeakSelSILAC</pipelinePeakSelection>
             <pipelineQuantitation>computeLcMsAreas</pipelineQuantitation>
             <pipelineOutput>displayTable</pipelineOutput>
         </pipeline>
         <pipeline>
             <pipelineTechnique>iTRAQ</pipelineTechnique>
             <pipelineLoadRawFiles>loadRawMGF</pipelineLoadRawFiles>
             <pipelineLoadIdentFiles>loadMascotIdent111</pipelineLoadIdentFiles>
             <pipelinePeakSelection>iTraqNplexPeakSel</pipelinePeakSelection>
             <pipelineQuantitation>iTraqNplexQuant</pipelineQuantitation>
             <pipelineOutput>displayTable</pipelineOutput>
         </pipeline>
         <pipeline>
             <pipelineTechnique>N15</pipelineTechnique>
             <pipelineLoadRawFiles>loadRawMzML111</pipelineLoadRawFiles>
             <pipelineLoadIdentFiles>loadMascotIdent111</pipelineLoadIdentFiles>
             <pipelinePeakSelection>metLabelingPeakSel</pipelinePeakSelection>
             <pipelineQuantitation>computeLcMsAreas</pipelineQuantitation>
             <pipelineOutput>displayTable</pipelineOutput>
         </pipeline>
         <pipeline>
             <pipelineTechnique>Label free</pipelineTechnique>
             <pipelineLoadRawFiles>loadRawMzML111</pipelineLoadRawFiles>
             <pipelineLoadIdentFiles>loadMascotIdent111</pipelineLoadIdentFiles>
             <pipelinePeakSelection>labelFree</pipelinePeakSelection>
             <pipelineQuantitation>computeLcMsAreas</pipelineQuantitation>
             <pipelineOutput>displayTable</pipelineOutput>
         </pipeline>		 
     </xTrackerSettings>
 </configSettings>
</ProteoSuiteApplication>