<?xml version="1.0" encoding="utf-8"?>
<ProteoSuiteApp xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="ProteoSuiteApp.xsd" workspace="D:\Data">
 <configSettings>
     <generalSettings>
     </generalSettings>
	 <pipelineSettings>
		<protocol name="SILAC">
			<rawdata_loadplugin>loadRawMzML111</rawdata_loadplugin>
			<identdata_loadplugin>loadMascotIdent111</identdata_loadplugin>
			<peakselplugin>metLabelingPeakSel</peakselplugin>
			<quantplugin>LcMsAreasSimpson</quantplugin>
			<outputplugin>displayTable</outputplugin>
		</protocol>
	 </pipelineSettings>	
 </configSettings>
</ProteoSuiteApp>